html body{
    background-color: lightgoldenrodyellow;
    margin: 2%;
    padding: 2%;

}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
  }
  
  @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }
header{
    color: blue;
    font-size: 30px;

}
h1{
    font-size: 18px;
    background-color: cyan;
    color: darkviolet;
}
 h2{
    font-size: 18px;
    background-color: lightgreen;
    color: midnightblue; 
}
h3{
    font-size: 18px;
    background-color: lightsalmon;
    color: indigo; 

}
#todoBox{
    font-size: 18px;
    background-color: mediumpurple;
    color: maroon;
    position: relative;
    /* align-items: center; */
    margin: 10%;
    padding: 10%;
    border: 2px solid black;

}
.strike{
     text-decoration: line-through;
}

.unstrike{
    text-decoration: none;
}
